<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/css/register.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='/css/style2.css'>
    <link rel="shortcut icon" href="../favicon.ico"> 

    <title><%=tit%></title>
</head>

<body>
<div class="container">
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="/login" autocomplete="on" method="POST"> 
                        <!-- <h1 >{{display}}</h1> -->
                        <h1>Log in</h1>                         
                        <% if(messageL) { %>
                            <h1><%= messageL %></h1>
                        <% } %>
                        
                        <p> 
                            Your username:
                            <input id="username" name="accountName" required="required" type="text" placeholder="Unique username"/>
                        </p>
                        <p> 
                            Password:
                            <input id="password" name="password" required="required" type="text" placeholder="Password"/>
                        </p>
                        <p class="login button"> 
                            <input type="submit" value="Login" /> 
                        </p>
                        <p class="change_link">
                            Never signed up ?
                            <a href="/signup" class="to_register">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>



</body>
</html>
