<%- include('../include/head.ejs') %>
</head>

<%- include('../include/middle.ejs') %>

 
<div class='postLogin'>
        <h1 class='inpost'><%= messageL %></h1>
        <li><a  class='gotostart' href='/'>Go to start</a></li>
</div>



</body>
</html>