<%- include('../include/head.ejs') %>
</head>
<%- include('../include/middle.ejs') %>



<div class="form-style-5">
    <form action='/add' method="POST">
            <fieldset>
            <legend>Group Info</legend>
            <% if(message){ %>
                <p><%= message %></p>
            <% } %>
            
            <input type="text" name="groupName" placeholder="Name *">
            </fieldset>
    
            <button type="submit" value="Apply">Form</button>
    </form>
</div>
    
</body>