<%- include('../include/head.ejs') %>
</head>

<%- include('../include/middle.ejs') %>

<li>
    <form action='/postanswer' method="POST">
        <h1 class="heading1">Query Info:</h2>
        <% if(message) { %>
            <p class='heading2'>##<%= message %>##</p>
        <% } %>
        <p class='heading2'>Subject:</p>
        <input style="width:13%" type='text' name='subject'  placeholder='Subject-title' ><br>
        <button 
                style ="background-color:  #87bae1;
                        box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
                        font-weight: bold;
                        padding: 10px 25px;
                        margin-top: 8px;"
                type="submit" class='send' value="Apply">Find</button>
    </form>
</li>


</body>
</html> 