<%- include('../include/head.ejs') %></head>

<%- include('../include/middle.ejs') %>

<div class="form-style-5">
    <form action='/postpost' method="POST">
        <h2 class="name">Query Info</h2>

        <% if(message) { %>
            <h1><%= message %></h1>
        <% } %>

        Subject:<br>
        <input type='text' name='subject'  placeholder='subject-name' ><br>

        Query:<br>
        <textarea type='text' name='text' placeholder='Enter your query here' rows="4" cols="50"></textarea><br>

        <button type="submit" class='send' value="Apply">Post</button>
    </form>
</div>

</body>
</html> 