<%- include('../include/head.ejs') %></head>

<%- include('../include/middle.ejs') %>

<li class="write-new">
    <form action='/postpost' method="POST">
        <h2 class="heading1">Query Info:</h2>
        <% if(message) { %>
            <h1 class='heading2'>##<%= message %>##</h1>
        <% } %>

        <p class='heading2'>Subject:</p><br>
        <input type='text' name='subject'  placeholder='Subject-title' ><br>

        <p class='heading2'>Query:</p><br>
        <textarea type='text' name='text' placeholder='Enter your query here:' rows="4" cols="50"></textarea><br>

        <button type="submit" class='send' value="Apply">Post</button>
    </form>
</li>




</body>
</html> 