<%- include('../include/head.ejs') %>
<style>
    .video{
        margin-left: 25%;
    }
</style>
</head>

<%- include('../include/middle.ejs') %>
    <!-- <h1 class='h1'>` Go ahead! </h1> -->

    <div class='video'>
        <h1 class='heading2'>` Watch the video to understand the working of this web-app! </h1>
        <h1 class='heading2'>` Else signUp, logIn and have fun browsing this website. </h1>

        <iframe width=60% height="415"
            src="https://www.youtube.com/embed/_f3S74FNgnw">
        </iframe>
    </div>

</body>
</html>