<%- include('../include/head.ejs') %>
<style>
    .h1{
        color:black;font-size:40px;text-align: center;
    }
    .h1:hover{
        color: #f1f1f1;
        left: 0;
    }
</style>
</head>

<%- include('../include/middle.ejs') %>
    <!-- <h1 class='h1'>` Go ahead! </h1> -->
    <h1 class='heading2'>` If you are logged in, enjoy! </h1>
    <h1 class='heading2'>` Else start with authenticating yourself. </h1>
</body>
</html>