body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    /* background:-webkit-radial-gradient(circle,rgb(3, 121, 101) 0%, brown 100%); */
    background:rgb(3, 121, 101);
}
.hheader{
    width:100%;
    height:60px;
    background-color:rgb(221, 198, 67);
    padding:0 1.5rem;
    margin-left:0px;
}
.hheader:hover{
    background-color:black;
}
.nnav{
    height:100%;
    display:flex;
    align-items: center;
}
.uul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}


.main-header-item-list{
    list-style:none;
    
    padding:0;
    margin-right:0;
    display:flex;
}









.inpost{
    position:relative;
    top:25%;
    left:25%;
}

.gotostart{
    background-color: rgb(95, 253, 3);
}



  
  /* Style the main content */
  /* .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
   */
  .lli{
    margin:0 1rem;
    padding:0;
}
.lli a{
    text-decoration: none;
    color:white;
}

  .lld{
    position:absolute;
    right:0px;
}
.lle{
    position:absolute;
    right:77px;
}





  .initial1{
      color:black;
      font-size:40px;
      margin-left:38%;
  }

.initial1:hover{
    color: #f1f1f1;
    left: 0;
}












































