body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    /* background:-webkit-radial-gradient(circle,rgb(3, 121, 101) 0%, brown 100%); */
    background:rgb(3, 121, 101);
}
.hheader{
    width:100%;
    height:60px;
    background-color:rgb(221, 198, 67);
    padding:0 1.5rem;
    margin-left:130px;
}
.hheader:hover{
    background-color:black;
}
.nnav{
    height:100%;
    display:flex;
    align-items: center;
}
.uul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

.edit{
    text-decoration: none;
    color:white;
}
.comp{
    background-color:blue;
    display:flex;
    align-items: center
}
.form{
    display:flex;
    align-items: flex-end;
    margin-left:230px;
}
.button{
    /* display:flex;
    align-items: flex-end; */
    margin-left:230px;
}
.cart{
    float:left;
}

.orders1{
    display:flex;
    align-items: flex-start   
}

/* .main-header-item{

} */

.main-header-item-list{
    list-style:none;
    
    padding:0;
    margin-right:0;
    display:flex;
}

.flash{
    margin-left:35%;

}
.lt{
    position:fixed;
    top:80px;
    left: 20%;
}
.rt{
    position:fixed;
    top:80px;
    right: 20%;
}
.div{
    position:relative;
    top:80px;
}

.img{
    margin-left:230px;
}

















table{
    width:80%;
    margin:auto;
    text-align: center;
    table-layout:fixed;
    
}
table,tr,th,td{
    padding:20px;
    color:white;
    border:1px solid #080808;
    border-collapse:collapse;
    font-size:18px;
    font-family:Arial;
    background:linear-gradient(top,#3c3c3c 0%, #222222 100%);
    background:-webkit-linear-gradient(top,#3c3c3c 0%, #222222 100%);
}
td:hover{
    background:orange;
}







  
.postLogin{
    width:50%;
    height:50%;
    position :fixed;
    top:25%;
    left:25%;
    background-color: rgb(47, 48, 87);
}

.inpost{
    position:relative;
    top:25%;
    left:25%;
}

.gotostart{
    background-color: rgb(95, 253, 3);
}





.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(180, 206, 35);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
/* 
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    border-radius: 0 5px 5px 0; */
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
    left: 0;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  .lli{
    margin:0 1rem;
    padding:0;
}
.lli a{
    text-decoration: none;
    color:white;
}

  .lld{
    position:absolute;
    right:0px;
}
.lle{
    position:absolute;
    right:77px;
}




.loans{
    margin-left:30%;
    color:rgb(153, 177, 45);
    font-size:30px;
}

.loans:hover {
    color: #f1f1f1;
    left: 0;
  }

  .initial1{
      color:black;
      font-size:40px;
      margin-left:25%;
  }

.initial1:hover{
    color: #f1f1f1;
    left: 0;
}































