body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    /* background:-webkit-radial-gradient(circle,rgb(3, 121, 101) 0%, brown 100%); */
    /* background:rgb(3, 121, 101); */
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.content {
    margin: 0 auto;
    width: 400px;
}



