<body>
    <header class='hheader'>
        <nav class='nnav'>
            <ul class='uul'>
                <li class='lli'><a href='/'>Start</a></li>

                <% if(isAuthenticated){ %>
                    <li class='lli'><a href='/find'>Find</a></li>

                    <li class='lli'><a href='/formgroup'>Form group</a></li>

                    <li class='lli'><a href='/showgroup'>Show groups</a></li>

                    <li class='lli'><a href='/refresh'>Refresh</a></li>

                    <li class='lli lle'><a href='/logout'>Logout</a></li>
                <% }else{ %>
                    <li class='lli lle'><a href='/login'>Login</a></li>
                <% } %>
                <li class='lli lld'><a href='/signup'>SignUp</a></li>
            </ul>
        </nav>
    </header>
</body>
