<body>
    <header class='hheader'>
        <nav class='nnav'>
            <ul class='uul'>
                <li class='lli'><a href='/'>Back to netbanking</a></li>
                <li class='lli'><a href='/shopping'>shop</a></li>
                <li class='lli'><a href='/products'>products</a></li>
                    <li class='lli'><a href='/cart'>cart</a></li>
                    <li class='lli'><a href='/displayOrders'>orders</a></li>
                    <li class='lli'><a href='/addp'>add product</a></li>
                    <li class='lli'><a href='/adminp'>admin product</a></li>
                    <li class='lli lle'><a href='/logout'>Logout</a></li>
                    <li class='lli lld'><a href='/signup'>SignUp</a></li>
                
        </nav>
    </header>