<div class='sidebar'>
        <a href="/help"><i class="fa fa-fw fa-support"></i> Help</a>

        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/clients"><i class="fa fa-fw fa-user"></i> Profile</a>
        <a href="/email"><i class="fa fa-envelope"></i> Email</a>
        <a href="/contact"><i class="fa fa-address-card-o"></i> Contact</a>
        <!-- <a href="/contact"><i class="fa fa-institution"></i> Survey</a> -->
        <a href="/mini"><i class="fa fa-fw fa-wrench"></i> Download mini-statement</a>

</div>