<%- include('../include/head.ejs') %>
</head>

<%- include('../include/middle.ejs') %>
<h1 style="margin-left:25%">Your current balance is:<%= amount %></h1>
<li ><a style="margin-left:30%" class='initial1' href='/details'>All Details</a></li>
</body>
</html>
