<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/css/transactions/transactions.css'>
    <link rel="stylesheet" href='/css/sidedrawer/side.css'>
    <link rel="stylesheet" href='/css/transactions/nav.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%=tit%></title>
    <style>
            body{
                background:rgb(3, 121, 101);
            }
    </style>
</head>

<%- include('../include/middle.ejs') %>

<div class="form-style-5">
    <form action='/deposit' method="POST" >
        <fieldset>
            <legend>
                <span class="number">1</span> 
                <% if(!message){ %>
                    Enter the details related to deposit amount
                <% }else{ %>
                    <%= message %>
                <% } %>
            </legend>
            <input type="number" name="accountNumber" placeholder="Account-number*">
            <input type="text" name="password" placeholder="Account-password *">
            <input type="number" name="amount" placeholder="Amount *">

            <select id="job" name="field4">
                <optgroup label="Government">
                    <option value="IIT">INDIAN INSTITUTE OF TECHNOLOGY</option>
                    <option value="NIT">NATIONAL INSTITUTE OF TECHNOLOGY</option>
                    <option value="IIIT">INDIAN INSTITUTE OF INFORMATION TECHNOLOGY</option>
                    <option value="Others">Others</option>
                </optgroup>
                    <optgroup label="Private">
                    <option value="arts">Liberal arts colleges</option>
                    <option value="profit">For-profit college</option>
                    <option value="ppp">public-private partnership(PPP) mode</option>
                </optgroup>
            </select>   
            
        </fieldset>



        <button  class='button' type="submit">Deposit</button>
    </form>
</div>

</body>
</html>
