<%- include('../include/head.ejs') %>
</head>

<%- include('../include/middle.ejs') %>

<center>
        <h1 style="margin-left:0%;color:rgb(190, 132, 43)">Loan-Schemes</h1>
        <p style="margin-left:0%;color:rgb(218, 168, 95);font-size: 25px;">Choose one among the following schemes </p>
</center>
<div >
    <div>
        <a class='loans' href='/loan/1'>Home loan</a>
    </div>
    <div>
        <a class='loans'href='/loan/2'>Education loan</a>
    </div>
    <div>
        <a class='loans' href='/loan/3'>Agriculture loan</a>
    </div>
    <div>
        <a class='loans' href='/loan/4'>Car loan</a>
    </div>
    <div>
        <a class='loans' href='/loan/5'>Business loan</a>
    </div>
</div>


</body>
</html>
