<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/css/agriculture/agri.css'>
    <link rel="stylesheet" href='/css/sidedrawer/side.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%=tit%></title>
</head>

<body>
<div class="form-style-5">
    <form action='/deposit' method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend><span class="number">1</span> Candidate Info</legend>
            <input type="text" name="field1" placeholder="Your Name *">
            <input type="text" name="field1" placeholder="Account-password *">
            <input type="email" name="field2" placeholder="Your Email *">
            <input type="text" name="field1" placeholder="Email-password *">

        </fieldset>
        
        <fieldset>
            <legend><span class="number">2</span>Address/Identity documents</legend>
            <label for="job">Attach electricity or water bill:</label>
            <span class="btn btn-primary btn-file">
                Browse...<input type="file"> 
            </span>

            <label for="job">Attach aadhar card:</label>
            <span class="btn btn-primary btn-file">
                Browse...<input type="file"> 
            </span>  

        </fieldset>

        <fieldset>
            <legend><span class="number">3</span>Income documents</legend>
            <label for="job">Bank statement of the last six months:</label>
            <span class="btn btn-primary btn-file">
                Browse...<input type="file"> 
            </span>

            <label for="job">Income tax returns (for self-employed persons):</label>
            <span class="btn btn-primary btn-file">
                Browse...<input type="file"> 
            </span>  
        </fieldset>



        <fieldset>
            <legend><span class="number">4</span> Additional Info</legend>
            <label for="job">Enter an approx.range:</label>  
            <input type="text" name="field1" placeholder="Amount *">
        </fieldset>
        <button type="submit" value="Apply">Apply</button>
    </form>
</div>

  
<%- include('../include/sidedrawer.ejs') %>
</body>
</html>








